<h1>This is the home page</h1>
<form action="" id="dog_form">
  <label for="dog">Dog Species</label>
  <input type="text" id="dog_input">
  <button type="submit">Search</button>
</form>

<div>
  <h3 id="dog_type"></h3>
  <img id="dog_image" src="" alt="Dog Image">
  <p id="dog-description"></p>
</div>

<script>
  const dogsApiKey = '<%= @dogs_api_key %>'
</script>
<%= javascript_include_tag "index" %>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
