<section id="landing-page">
  <div class="landing-text">
    <h1>WoofWise</h1>
    <p>Welcome to the ultimate destination for all your canine curiosity! Our dog information search website is your go-to resource for everything related to man's best friend. Whether you're a seasoned dog owner looking to deepen your understanding of your furry companion or a prospective dog parent seeking guidance, you've come to the right place. Our extensive database is brimming with expertly curated articles, comprehensive breed profiles, training tips, health advice, and much more. Unleash your passion for dogs and embark on a journey of knowledge and companionship with us. Let's explore the fascinating world of dogs together!</p>
  </div>
</section>
